@import url(fontiran.css);
body {
  font-family: IRANSansX !important;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: IRANSansX !important;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: #afb6d055;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #afb6d0;
}
* {
  -moz-font-feature-settings: 'ss02';
  -webkit-font-feature-settings: 'ss02';
  font-feature-settings: 'ss02';
}
